HRAnywhere.Client.Web/Service References/HRAnywhereServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HRAnywhere.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HRAnywhere.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Member" nillable="true" type="tns:Member" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMember" nillable="true" type="tns:ArrayOfMember" />
  <xs:complexType name="Member">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="tns:Company" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberId" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Member" nillable="true" type="tns:Member" />
  <xs:complexType name="Company">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Company" nillable="true" type="tns:Company" />
</xs:schema>